In [2]:
import scipy
import numpy as np
import pandas as pd
import sklearn as sk

In [18]:
rawData=pd.read_csv('./data/train.csv')
rawData
rawData.replace(inplace=True,to_replace={
    'COLLEGE':{
        'zero':0,
        'one':1
    },
    'REPORTED_SATISFACTION':{
        'very_unsat':0,
        'unsat':25,
        'avg':50,
        'sat':75,
        'very_sat':100
    },
    'REPORTED_USAGE_LEVEL':{
        'very_little':0,
        'little':1,
        'avg':2,
        'high':3,
        'very_high':4
    },
    'CONSIDERING_CHANGE_OF_PLAN':{
        'considering':0,
        'actively_looking_into_it':1,
        'perhaps':2,
        'no':3,
        'never_thought':4
    }
})

,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,LEAVE
0,0,31953,0,6,313378,161,0,4,25,1,3,1
1,1,36147,0,13,800586,244,0,6,25,1,0,1
2,1,27273,230,0,305049,201,16,15,25,0,2,1
3,0,120070,38,33,788235,780,3,2,25,4,0,0
4,1,29215,208,85,224784,241,21,1,0,1,4,1
5,0,133728,64,48,632969,626,3,2,25,3,3,1
6,0,42052,224,0,697949,191,10,5,0,1,1,1
7,1,84744,0,20,688098,357,0,5,0,1,0,1
8,0,38171,0,7,274218,190,0,5,100,1,1,1
9,0,105824,174,18,153560,687,25,4,100,1,4,0
10,0,20120,43,0,623166,209,5,8,100,1,4,1
11,1,50939,76,13,587207,336,3,5,50,1,0,1
12,0,23553,244,0,926178,158,4,5,0,0,1,1
13,1,143501,63,0,515444,530,3,10,25,3,0,1
14,1,36940,259,0,979303,236,10,8,100,4,0,1
15,0,159902,0,20,213299,516,1,4,100,3,1,1
16,0,45482,82,6,607518,157,5,2,50,4,3,1
17,0,41513,0,15,214276,167,1,2,0,4,0,1
18,0,53391,74,69,599957,287,5,2,0,4,3,0
19,1,52308,0,50,187864,394,27,2,0,1,0,1
20,0,129795,0,0,281839,684,0,13,0,0,3,0
21,1,86658,78,15,150852,296,4,5,100,4,4,1
22,1,96390,251,14,221453,371,26,4,100,0,1,0
23,0,23322,60,0,281214,302,3,13,25,4,4,0
24,1,26224,49,75,282685,189,4,1,100,0,2,0
25,1,47502,0,0,507873,199,1,11,50,4,1,1
26,1,62951,45,10,403085,304,5,5,25,4,2,1
27,0,42647,164,0,459225,214,12,14,0,4,1,1
28,1,39654,72,28,951514,225,5,2,25,0,3,0
29,0,101335,216,0,414892,420,20,14,100,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17970,0,116280,70,12,586432,811,4,5,0,2,0,1
17971,1,97849,174,0,471963,365,27,4,0,3,4,0
17972,0,47238,224,24,636314,185,18,5,100,2,4,0
17973,0,44611,230,11,866774,237,27,4,100,4,0,1
17974,0,60777,70,0,552159,348,19,15,0,4,0,0
17975,0,47355,0,12,417153,232,1,5,25,4,4,0
17976,0,138626,51,36,677160,315,5,2,0,1,0,1
17977,0,95611,50,77,555991,231,3,4,0,1,3,0
17978,1,104664,179,24,595246,854,25,5,100,0,2,1
17979,0,69704,0,0,551878,387,0,10,25,1,3,0
17980,1,129399,252,0,308741,591,12,1,100,1,3,0
17981,1,34683,173,0,286015,202,18,9,0,1,2,1
17982,0,96916,54,68,678440,255,3,2,100,1,4,1
17983,1,20093,76,20,351200,228,20,6,0,3,1,1
17984,0,141104,0,31,196786,692,1,1,100,0,0,0
17985,0,68858,70,23,536653,308,5,4,50,1,0,1
17986,1,121277,80,0,837328,643,4,14,0,0,3,0
17987,1,116175,181,0,504093,473,5,15,0,0,3,1
17988,0,124516,80,0,750355,595,5,15,0,4,0,1
17989,0,72152,0,0,327659,273,0,15,0,1,3,0
17990,0,27366,166,7,239676,215,16,6,0,1,0,0
17991,0,124921,0,9,848645,817,0,6,25,3,3,1
17992,1,63689,0,8,787656,251,1,5,100,4,0,1
17993,0,82467,55,30,809695,354,0,1,50,4,1,1
17994,1,74381,60,38,864153,315,3,2,0,1,0,1
17995,1,100264,0,0,230971,523,1,14,0,1,1,0
17996,0,26075,0,32,939297,243,0,2,0,1,0,1
17997,0,147061,0,27,848387,808,11,6,0,1,0,0
17998,0,134533,0,23,519574,775,1,6,25,2,1,1
17999,0,71381,65,73,453696,265,3,2,0,1,0,1